
/*********************************************************/
.page-sidebar .sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 5px
}

.page-sidebar .sidebar-menu a {
	display: block;
	height: 38px;
	line-height: 36px;
	margin: 0;
	padding: 0 16px 0 7px;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none;
	color: #737373;
	z-index: 123
}

.page-sidebar .sidebar-menu a:hover {
	color: #262626
}

.page-sidebar .sidebar-menu a:hover:before {
	display: block
}

.page-sidebar .sidebar-menu a .menu-icon {
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	margin-top: -3px
}

.page-sidebar .sidebar-menu a .menu-expand {
	display: inline-block;
	position: absolute;
	font-size: 13px;
	line-height: 10px;
	height: 10px;
	width: 10px;
	right: 12px;
	top: 15px;
	margin: 0;
	text-align: center;
	padding: 0;
	-webkit-text-shadow: none;
	text-shadow: none;
	color: #666;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal
}

.page-sidebar .sidebar-menu a .menu-expand:before {
	content: ""
}

.page-sidebar .sidebar-menu li {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	position: relative
}

.page-sidebar .sidebar-menu li:before {
	display: none;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -4px;
	width: 4px;
	max-width: 4px;
	overflow: hidden;
	background-color: #2dc3e8
}

.page-sidebar .sidebar-menu li.open {
	background-color: #fff
}

.page-sidebar .sidebar-menu li.open>a {
	color: #262626
}

.page-sidebar .sidebar-menu li.open>a .menu-expand {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.page-sidebar .sidebar-menu li.open>.submenu {
	display: block !important
}

.page-sidebar .sidebar-menu li.active:not (.open ):before {
	display: block
}

.page-sidebar .sidebar-menu li.active>a {
	display: block;
	content: "";
	color: #262626;
	background-color: #f5f5f5
}

.page-sidebar .sidebar-menu li:not (.open ):hover:before {
	display: block;
	background-color: #fb6e52
}

.page-sidebar .sidebar-menu>li>a {
	border-top: 1px solid #f3f3f3
}

.page-sidebar .sidebar-menu>li>a:hover {
	border-color: #f3f3f3;
	background-color: #fbfbfb
}

.page-sidebar .sidebar-menu>li:last-child>a {
	border-bottom: 1px solid #f3f3f3
}

.page-sidebar .sidebar-menu>li>.submenu {
	background-color: #fbfbfb;
	-webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0
		-4px 4px -2px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px
		4px -2px rgba(0, 0, 0, .15);
	box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px
		-2px rgba(0, 0, 0, .15)
}

.page-sidebar .sidebar-menu>li>.submenu:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 23px;
	top: 0;
	bottom: 19px;
	border-left: 1px solid #e2e2e2
}

.page-sidebar .sidebar-menu>li>.submenu>li>a:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 5px;
	height: 5px;
	left: 21px;
	top: 17px;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	z-index: 2
}

.page-sidebar .sidebar-menu>li>.submenu>li.active>a:before {
	background-color: #e2e2e2
}

.page-sidebar .sidebar-menu>li>.submenu>li.active:first-child a {
	-webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15);
	box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15)
}

.page-sidebar .sidebar-menu>li>.submenu>li.active:last-child a {
	-webkit-box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
	box-shadow: inset 0 -4px 4px -2px rgba(0, 0, 0, .15)
}

.page-sidebar .sidebar-menu>li.open>a {
	background-color: #fff
}

.page-sidebar .sidebar-menu .submenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #fbfbfb;
	border-top: 0;
	z-index: 123
}

.page-sidebar .sidebar-menu .submenu li {
	margin-left: 0;
	position: relative
}

.page-sidebar .sidebar-menu .submenu li.open:before {
	display: none
}

.page-sidebar .sidebar-menu .submenu li.active>a {
	color: #262626;
	background-color: #f5f5f5
}

.page-sidebar .sidebar-menu .submenu li.active>.submenu {
	display: block
}

.page-sidebar .sidebar-menu .submenu>li>a {
	padding-left: 40px
}

.page-sidebar .sidebar-menu .submenu>li.open>a {
	background-color: #fbfbfb
}

.page-sidebar .sidebar-menu .submenu>li .submenu {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee
}

.page-sidebar .sidebar-menu .submenu>li .submenu>li>a {
	padding-left: 50px
}

.page-sidebar .sidebar-menu .submenu>li .submenu>li .submenu>li>a {
	padding-left: 70px
}

/*箭头*/
.page-sidebar .sidebar-menu a .menu-expand {
	display: inline-block;
	position: absolute;
	font-size: 13px;
	line-height: 10px;
	height: 10px;
	width: 10px;
	right: 12px;
	top: 15px;
	margin: 0;
	text-align: center;
	padding: 0;
	-webkit-text-shadow: none;
	text-shadow: none;
	color: #666;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal
}
.page-sidebar .sidebar-menu a .menu-expand:before {
    content: "";
}
.page-sidebar .sidebar-menu li.open>a .menu-expand {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}
.page-sidebar .sidebar-menu li.open>a .menu-expand {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}
.page-sidebar.menu-compact .sidebar-menu>li>a .menu-expand {
	display: none
}
